<div class="help-center-next-prev">
    <div class="help-center-next-prev__small">
        <img src="{{fields.imageone}}">
        <div>
            <div class="help-center-next-prev__small-text">{{fields.textprev}}</div>
            <div class="help-center-next-prev__small-main-text">{{fields.titleone}}</div>
        </div>
    </div>
    <div class="help-center-next-prev__small">
        <div>
            <div class="help-center-next-prev__small-text-right">{{fields.textnext}}</div>
            <div class="help-center-next-prev__small-main-text">{{fields.titletwo}}</div>
        </div>
        <img src="{{fields.imagetwo}}">
    </div>
</div>