<div class="features-boxes">
    <div class="features-boxes__container">
        <div class="features-boxes__logo-container"><img class="features-boxes__logo" src="{{fields.logoone}}" alt="photo"></div>
        <div class="features-boxes__small-container">
            <p class="features-boxes__text-logo">{{fields.logotextone}}</p>
            <p class="features-boxes__main-text">{{fields.maintextone}}</p>
            <p class="features-boxes__small-text">{{fields.smalltextone}}</p>
        </div>
    </div>
    <div class="features-boxes__container">
        <div class="features-boxes__logo-container"><img class="features-boxes__logo" src="{{fields.logotwo}}" alt="photo"></div>
        <div class="features-boxes__small-container">
            <p class="features-boxes__text-logo">{{fields.logotexttwo}}</p>
            <p class="features-boxes__main-text">{{fields.maintexttwo}}</p>
            <p class="features-boxes__small-text">{{fields.smalltexttwo}}</p>
        </div>
    </div>
</div>