<div class="main-stratticFAQ-list">
    <div class="stratticFAQ-list">
            <div class="stratticFAQ-list__container">
                <div class="stratticFAQ-list__small-text-container"><p class="stratticFAQ-list__small-text">{{fields.smalltextone}}</p></div>
                <h4 class="stratticFAQ-list__main-text">{{fields.maintextone}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
                <div class="stratticFAQ-list__rectangle"></div>
                <h4 class="stratticFAQ-list__main-text">{{fields.maintexttwo}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
            </div>
            <div class="stratticFAQ-list__container">
                <div class="stratticFAQ-list__small-text-container"><p class="stratticFAQ-list__small-text">{{fields.smalltexttwo}}</p></div>
                <h4 class="stratticFAQ-list__main-text">{{fields.maintextthree}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
                <div class="stratticFAQ-list__rectangle"></div>
                <h4 class="stratticFAQ-list__main-text">{{fields.maintextfour}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
            </div>
            <div class="stratticFAQ-list__container">
                <div class="stratticFAQ-list__small-text-container"><p class="stratticFAQ-list__small-text">{{fields.smalltextthree}}</p></div>
                <h4 class="stratticFAQ-list__main-text">{{fields.maintextfive}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
            </div>
    </div>
</div>