<div class="help-center-list-open">
    <div class="help-center-list-open__first-container">
        <div class="help-center-list-open__first-container-main-text">{{fields.maintext}}</div>
        <div class="help-center-list-open__first-container-right">
            <img src="{{fields.photo}}"/>
            <div>
                <p class="help-center-list-open__first-container-name-text">{{fields.nametext}}</p>
                <p class="help-center-list-open__first-container-status-text">{{fields.statustext}}</p>
            </div>
        </div>
    </div>
    <div class="help-center-list-open__line"></div>
    <div class="help-center-list-open__small-text">{{fields.smalltext}}</div>
    <div class="help-center-list-open__main-text-one">{{fields.maintextone}}</div>
    <div class="help-center-list-open__small-text-one">{{fields.smalltextone}}</div>
</div>