<div class="main-helpcenter-list">
    <div class="helpcenter-list">
            <div class="helpcenter-list__container">
                <h4 class="helpcenter-list__main-text">{{fields.maintextone}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
                <p class="helpcenter-list__small-text">{{fields.smalltextone}}</p>
            </div>
            <div class="helpcenter-list__rectangle"></div>
            <div class="helpcenter-list__container">
                <h4 class="helpcenter-list__main-text">{{fields.maintexttwo}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
                <p class="helpcenter-list__small-text">{{fields.smalltexttwo}}</p>
            </div>
            <div class="helpcenter-list__rectangle"></div>
            <div class="helpcenter-list__container">
                <h4 class="helpcenter-list__main-text">{{fields.maintextthree}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
                <p class="helpcenter-list__small-text">{{fields.smalltextthree}}</p>
            </div>
            <div class="helpcenter-list__rectangle"></div>
            <div class="helpcenter-list__container">
                <h4 class="helpcenter-list__main-text">{{fields.maintextfour}}<img src="{{theme.link}}/static/img/arrow-leftone.svg"></h4>
                <p class="helpcenter-list__small-text">{{fields.smalltextfour}}</p>
            </div>
    </div>
</div>